
body {
  margin: 0;
  padding: 0;
  background-image: url('./Components/Assets/ketogenic-low-carbs-diet-concept-ingredients-healthy-foods-selection-set-up-white-concrete-background_35641-4032.avif'); /* adjust path */
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.app-layout {
  display: flex;
}


.main-content {
  flex-grow: 1; 
  margin-left: 220px;
  min-height: 100vh; 
  box-sizing: border-box;

  /* BACKGROUND STYLES  */
  background-image: url('./Components/Assets/ketogenic-low-carbs-diet-concept-ingredients-healthy-foods-selection-set-up-white-concrete-background_35641-4032.avif');
  background-size: cover; /* Scales the image to cover the entire area */
  background-position: center; /* Centers the image */
  background-attachment: fixed; /* Keeps the background stationary on scroll */
}